<div class="summary-container">
  <div class="summary-chart-container">
    <div class="header">
      <span>Weekly Log Summary</span>
      <span>Hour worked Per day</span>
      <div class="dropdown-container">
        <div type="button" class="dropdown-item">Month View</div>
      </div>
    </div>
    <div class="body"></div>
  </div>
  <div class="summary-activity">
    <div class="recent-activity">
      <div class="header">Recent Activity</div>
      <div class="body"></div>
    </div>
    <div class="quick-action">
      <div class="header">Quick Action</div>
      <div class="body">
        <div class="quick-button new-task">New Task</div>
        <div class="quick-button">Generate Report</div>
        <div class="quick-button">Manage Projects</div>
      </div>
    </div>
  </div>
</div>
