.side-bar-container {
  display: flex;
  min-width: 200px;
  position: relative;
  //   padding: 10px;
  //   padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
  display: flex;
  height: 70px;
  //   align-items: center;
  flex-direction: row;
  //   gap: 10px;
  .side-bar-item {
    &:first-child {
      // justify-content: flex-start;
      // padding-left: 10px;
      justify-content: space-between;
      flex: 1;
      padding: 0px 20px;
      pointer-events: none;
    }
    padding: 20px 10px;
    flex: 2;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    font-weight: 400;
    &:hover,
    &:active,
    &:focus,
    &.active {
      background-color: hsl(from #0d6efd h s 90%);
      color: hsl(from #0d6efd h s 50%);
      cursor: pointer;
    }
    &:first-child {
      font-size: 20px;
      border-top-left-radius: inherit;
      border-bottom-left-radius: inherit;
    }
  }
  .search-box-container {
    padding: 15px;
    .search-box {
      width: 20vw;
      border: 1px solid #c7c7c7;
      height: 100%;
      border-radius: 8px;
      display: flex;
      align-items: center;
      text-indent: 30px;
      transition: 0.3s ease-in-out;
      &:active,
      &:focus {
        outline: none;
        border: 1px solid #0d6efd;
      }
    }
  }
  .quick-add {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .quick-add-new-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      color: #0d6efd;
      background-color: hsl(from currentColor h s 90%);
      outline: none;
      font-size: 30px;
      border: none;
      border-radius: 8px;
      height: 40px;
      aspect-ratio: 1/1;
      &:hover {
        animation: shacking 420ms infinite;
      }
      // @keyframes shacking {
      //   0% {
      //     transform: translateX(0) rotate(0deg);
      //   }
      //   20% {
      //     transform: translateX(1px) rotate(4deg);
      //   }
      //   40% {
      //     transform: translateX(-1px) rotate(-4deg);
      //   }
      //   60% {
      //     transform: translateX(1px) rotate(3deg);
      //   }
      //   80% {
      //     transform: translateX(-1px) rotate(-3deg);
      //   }
      //   100% {
      //     transform: translateX(0) rotate(0deg);
      //   }
      // }
    }
  }
  .profile {
    width: 50px;
    padding: 10px 15px;
    aspect-ratio: 1/1;
    .profile-image {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow:
        0 0 0 2px #fff,
        0 0 0 4px #2196f3;
      transition: 0.3s ease-in-out;
      &:hover {
        transform: scale(1.4);
      }
    }
  }
}
i {
  color: #0d6efd;
}
