<div class="side-bar-container">
  <div class="side-bar-item">
    <i style="font-size: 25px" class="fa-solid fa-book"></i>
    <span style="margin-left: 10px">Memo Me</span>
  </div>
  <div
    [class.active]="currentRoute === 'summary'"
    class="side-bar-item"
    (click)="navigate('summary')"
  >
    Dashboard
  </div>
  <!-- <div
    [class.active]="currentRoute === 'today-entry'"
    class="side-bar-item"
    (click)="navigate('today-entry')"
  >
    Today's Entry
  </div> -->
  <div
    [class.active]="currentRoute === 'history'"
    class="side-bar-item"
    (click)="navigate('history')"
  >
    History
  </div>
  <div
    [class.active]="currentRoute === 'settings'"
    class="side-bar-item"
    (click)="navigate('settings')"
  >
    Settings
  </div>
  <div
    [class.active]="currentRoute === 'analytics'"
    class="side-bar-item"
    (click)="navigate('analytics')"
  >
    Analytics
  </div>
  <div
    [class.active]="currentRoute === 'workflow'"
    class="side-bar-item"
    (click)="navigate('workflow')"
  >
    Workflow
  </div>
  <div class="search-box-container">
    <input class="search-box" placeholder="Search..." />
  </div>
  <div class="quick-add"><button (click)="onAddNew()" class="quick-add-new-button">+</button></div>
  <div class="profile">
    <img class="profile-image" src="/assets/images/SnowyOwl.jpg" alt="" />
  </div>
</div>
<div [class.isShow]="isAddNew" class="add-new-container">
  <div [formGroup]="formAddNew" class="add-new-content">
    <div class="header-content">
      เพิ่ม Task งานใหม่
    </div>
    <div class="close-icon">
        <i class="fa-solid fa-xmark" (click)="isAddNew = false"></i>
      </div>
    <div class="content-container ">
        <div class="input-container-content">
          <label >วันที่</label>
          <app-datepicker formControlName="date"></app-datepicker>
        </div>
        <div class="input-container-content" >
          <label >ระยะเวลา</label>
          <input style="height:36px" formControlName="time" type="number" class="form-input">
        </div>
    </div>
    <div class="content-container">
      <div class="input-container-content">
        <label>Project</label>
        <app-dropdown-list
          [value]="formAddNew.controls.projectName.value ?? null"
          [options]="projectOptionNames"
          placeholder="-- เลือก Project --"
          (valueChange)="formAddNew.controls.projectName.setValue($event.toString())"
        ></app-dropdown-list>
      </div>
      <div class="input-container-content">
        <label>Status</label>
        <app-dropdown-list
          [value]="formAddNew.controls.status.value ?? null"
          [options]="statusOptionNames"
          placeholder="-- เลือก Status --"
          (valueChange)="formAddNew.controls.status.setValue($event.toString())"
        ></app-dropdown-list>
      </div>
    </div>
    <div class="content-container">
      <div class="input-container-content">
        <label >Task</label>
        <input formControlName="taskName" type="text" class="form-input">
      </div>
    </div>
    <div class="content-container">
      <div class="input-container-content">
        <label >รายละเอียด</label>
        <textarea formControlName="description" type="text" class="form-input"></textarea>
      </div>
    </div>
    <div class="button-wrapper">
    <button 
      type="submit" 
      class="btn-save" 
      [disabled]="formAddNew.invalid"
      (click)="onSave()">
      บันทึกข้อมูล
  </button>
</div>
  </div>
</div>