.dashboard-container {
  display: flex;
  flex-direction: column;
  //   padding: 20px;
  width: 100%;
  height: 100vh;
  //   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .content {
    padding: 0px 20px 10px 20px;
    margin: 0px 10px 10px 10px;
    background-color: white;
    border-radius: 8px;
    height: 100%;
  }
}
