/* You can add global styles to this file, and also import other style files */
@import "../src/assets/font/fontawesome/css/all.css";
@font-face {
  font-family: "Noto Sans Thai";
  src: url("/assets/font/Noto_Sans_Thai/NotoSansThai-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 100 900;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/assets/font/Noto_Sans/static/NotoSans-Regular.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/assets/font/Noto_Sans/static/NotoSans-Italic.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/assets/font/Noto_Sans/static/NotoSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans";
  src: url("/assets/font/Noto_Sans/static/NotoSans-BoldItalic.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 700;
}

html,
body {
  margin: 0;
  background-color: #c7c7c7;
  font-family: "Noto Sans Thai", "Noto Sans", sans-serif;
}

.text-ellipsis {
  overflow: hidden;
  text-wrap: nowrap;
  // white-space: normal;
  text-overflow: ellipsis;
}
